.event__title {
  width: 55px;
  float: left;
  @include font($sans, .85em, 700);
  line-height: 1.85em;
  @include mq($bp--tablet) {
    width: 68px;
  }
}


.events__title {
  margin-bottom: 10px;
  border-bottom: 2px solid $clr-base;
  padding-bottom: 2px;
  @include font($sans, 22px)
  @include mq($bp--tablet) {
    @include font($size: 24px)
    padding-bottom: 4px;
  }
}

.events__mod {
  margin-top: 30px;
}

.event__desc {
  margin-left: 0;
  margin-bottom: 5px;
  overflow: hidden;
}

.events__list {
  @include mq($bp--phablet) {
    @include font($serif, 21px);
  }
}
