

.map-container {
  @include mq($bp--nav-break) {
   margin-left: $desktop-nav-width;
  }
}

.map-container--index {
  height: 200px;
  @include mq($bp--phablet) {
    height: 300px;
  }
  @include mq($bp--nav-break) {
   margin-left: $desktop-nav-width;
   height: 400px;
  }
}

.map-container--single {
  height: 200px;
  border-top: $border;
  @include mq($bp--nav-break) {
   margin-left: $desktop-nav-width;
   height: 300px;
  }
}

.location-topper {
  padding: 20px;
  // background: #000;
  @include mq($bp--nav-break) {
   padding: 50px;
   margin-left: $desktop-nav-width;
  }

  .js-location-is-closed & {
    border-top: 5px solid red;
  }

  .js-location-is-open & {
    border-top: 5px solid $clr-green;
  }
}

.location-address {
  color: $clr-base;
}

.location-topper__title {

  margin-bottom: 0;
  @include font($sans, 26px, 800);
  line-height: 1.05;
  margin: 0 0 8px -3px;
  @include mq($bp--nav-break) {
    @include font($size: 43px);
    margin-bottom: 10px;
  }
  @include mq($bp--desktop) {
    @include font($size: 55px);
  }
}

.location-topper__about {
  margin-bottom: 10px;
}

.location-topper__twitter {
  color: $clr-base;
  font-weight: 700;
  margin-right: 12px;
}

.location-topper__status {
  padding: 2px 6px 3px;
  border-radius: 3px;
  color: #fff;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;

  .js-location-is-closed & {
    background-color: red;
  }

  .js-location-is-open & {
    background-color: $clr-green;
  }
}

.default-repeater__title--link {
  display: block;
  color: $clr-base;
  &:hover {
    box-shadow: none;
  }
}

.menu-info__hours {
  font-size: .85em;
  font-weight: 400;
  display: none;
  margin-top: 10px;

  @include mq(max, $bp--tablet) {
    .js-repeater-is-open & {
      display: block;
    }
  }

  @include mq($bp--tablet) {
    margin-top: 0;
    display: inline;
  }
}

.default-repeater__item--menu .default-repeater__content {
  @include mq($bp--desktop) {
    @include grid(2, 50px);
  }
}

.menu__cat {
  margin-bottom: 30px;
}

.menu__cat-title {
  background: #000;
  color: #fff;
  margin-bottom: 10px;
  padding: 4px 4px 4px 5px;
  line-height: 1;
  @include font($sans, 13px, 800, normal, .06em, caps);
}

.menu-info__mod {
  display: inline-block;
}

.menu-price {
  float: right;
}

.menu-info__modal-title {
  line-height: 1.1;
  @include mq($bp--nav-break) {
    @include font($size: 44px);
  }
  @include mq($bp--desktop-xl) {
    @include font($size: 55px);
  }
}

.menu-info__modal {
  display: none;
  @include fixed(0);
  white-space: normal;
  @include font($sans, 16px, 400);
  line-height: 1.5;
  color: #000;
  background: #fff;
  padding: 20px;
  overflow: scroll;
  text-align: left;
  z-index: 1;

  @include mq($bp--nav-break) {
    padding: 50px;
    left: $desktop-nav-width;
  }

  @include mq($bp--desktop) {
    font-size: 18px;
  }

  .modal-is-active & {
    display: block;
  }
}

.menu__item {
  overflow: hidden;
  padding: 0 5px;
  @include  font($size: 15px);

  @include mq($bp--nav-break) {
    @include font($size: 17px);
  }
}

.js-is-new {
  color: $clr-green;
  @include font($sans, 13px, 800, $ls: .05em, $caps: caps);
}

.menu__item-name {
  width: calc(100% - 80px);
  display: block;
  line-height: 1.1;
  margin-bottom: 12px;
  float: left;
  font-weight: 600;
  @include mq($bp--nav-break) {
    font-weight: 500;
  }

  .js-is-not-available & {
    text-decoration: line-through;
  }
}

.more-info__title {
  display: block;
  @include font($sans, 13px, $ls: .05em, $caps: caps);
  margin-top: 25px;

  @include mq($bp--desktop) {
    font-size: 15px;
  }
  &:first-child {
    margin-top: 0;
  }
}

.menu-img {
  margin-bottom: 20px;
  @include mq($bp--desktop) {
    margin-bottom: 0;
    width: 45%;
    margin-left: 5%;
    float: right;
  }
}

.menu-info__modal--width {
  max-width: 600px;
}

.menu-info__trigger--close {
  position: fixed;
  right: 20px;
  top: 20px;
  transition: all .2s $timing;

  &:hover {
    background: $clr-spot;
  }

  @include mq($bp--nav-break) {
    right: 50px;
    top: 50px;
  }
}

.menu-info__trigger--open {
  padding: 0;
  @include size(17px);
  @include font($sans, 11px, 700);
  border-radius: 50%;
  background: #eee;
  color: #000;
  transition: all .2s $timing;
  &:hover {
    background: $clr-spot;
    color: #fff;
  }
}


.menu-info__trigger--close {
  font-size: 20px;
  width: 47px;
  padding-top: 11px;
  padding-bottom: 13px;
  // font-weight: 800;
}


// hours

.default-repeater__item--menu--hours {

  .hours__list {
    list-style: none;
    padding-left: 0;
    overflow: hidden;

    li {
      overflow: hidden;
      clear: both;
      &:before {
        display: none;
      }
    }
  }


  li > b {
    width: 50%;
    max-width: 140px;
    float: left;
    margin-bottom: 5px;
    @include font($sans, 16px, 500, normal, .025em, caps);
  }

  li > span {
    width: 50%;
    float: left;
    margin-bottom: 5px;
    @include font($sans, 16px, 500);
  }
}

// locations index

.locations-mod {
  padding-left: 0;
  list-style: none;
  @include mq($bp--desktop) {
    @include grid(2, 20px);
    display: flex;
    flex-wrap: wrap;
  }
  // @include mq($bp--desktop) {
  //   @include grid(3, 30px);
  // }
}

.location-item {
  display: flex;
}

.location-tease__img {
  @include size(80px);
  min-width: 80px;
  float: left;
  margin-right: 10px;
  // border-radius: 50%;
  background-size: cover;
  background-position: 50% 50%;
}

.location-item-inner {
  display: block;
  box-shadow: 0 -1px rgba(0,0,0,.1) inset;
  padding: 15px 0;
  width: 100%;
  display: flex;
  align-items: center;
  .location-item:first-child & {
    padding-top: 0;
  }
  @include mq(max, $bp--desktop) {
   .location-item:last-child & {
     padding-bottom: 0;
   }
  }
}

.location-item--temp {
  display: none;
}

.location__title {
  color: $clr-base;
  margin-bottom: 3px;
  @include font($sans, 18px, $ls: 0);

  .location-item--closed & {
    color: #999;
  }
  > a {
    color: inherit;
  }
}

.location__title__distance {
  font-weight: 400;
}


.location__status {
  @include font($sans, 14px, 800, normal, 0.025em, caps);
  margin-bottom: 0;

  .location-item--open & {
    color: $clr-green;
  }
  .location-item--closed & {
    color: red;
  }
}

.locations-form__mod {
  padding: 20px;
  background: #F8F8F8;
  border-top: $border;
  overflow: hidden;
  @include mq($bp--nav-break) {
    padding: 30px 50px;
    margin-left: $desktop-nav-width;
  }

  form {
    max-width: 1120px;
  }
}

.location-form__select-mod {
  position: relative;
  overflow: hidden;
  &:first-child {
    margin-bottom: 10px;
  }

  @include mq($bp--phablet) {
    &:first-child {
      margin-bottom: 0;
    }
    width: 50%;
    float: left;
    padding-right: 20px;
  }

  @include mq($bp--desktop) {
    // width: 33.333%;
    &:last-child {
      padding-left: 10px;
    }
  }
  label {
    @include font($sans, 14px, 800, normal, 0.025em, caps);
  }
  select {
    @include reset-input;
    width: calc(100% - 100px);
    border-bottom: $border;
    float: right;
  }

  &:after {
    display: block;
    content: '';
    @include absolute(n 20px 0 n);
    @include size(30px);
    background-image: url('../img/icon--select.svg');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    pointer-events: none;
  }
}

.location-cta {
  margin-top: 55px;
  max-width: 800px;
}

.location-cta__h {
  margin-bottom: 5px;
}


.location-cta__text {
  max-width: 600px;
  margin-bottom: 17px;
}

.location-cta__btn {
  background-color: $clr-base;
  color: #fff;
  border-radius: 2px;
  padding: 8px 15px;
  display: inline-block;
  transition: all .2s ease;
  &:hover {
    background-color: $clr-spot;
  }
}
