$desktop-nav-width: 320px;
$bp--nav-break: $bp--tablet;

.nav {
  @include mq(max, $bp--nav-break) {
    @include fixed(0 0 n 0);
    z-index: 2;
    transition: all .35s ease;
    &.nav-hidden,
    &.nav-up {
      transform: translate3d(0,-100%,0);
    }
  }

  background: #fff;
  z-index: 1;

  @include mq($bp--nav-break) {
    @include fixed(0 n 0 0);
    width: $desktop-nav-width;
    height: auto;
    border-right: $border;
    overflow: scroll;
    padding-bottom: 53px;
  }
}

.nav__width {
  position: relative;
  padding: 10px 20px 10px 15px;
  z-index: 2;
  background: #fff;

  @include mq($bp--nav-break) {
    padding: 20px 20px 0px 15px;
  }
  // margin: 0 auto;
  // border-bottom: $border;
}

.nav__logo__link {
  display: block;
  max-width: 210px;
  line-height: 1;

  @include mq($bp--phablet) {
    max-width: 230px;
  }

  &:hover {
    box-shadow: none;
  }
}

.nav-logo {
  width: 100%;
}

.nav__trigger {
  @include absolute(7px 0 0 n);
  width: 90px;
  padding: 0 20px 0 40px;
  background: transparent;

  @include mq($bp--nav-break) {
    width: 110px;
    padding: 0 40px;
    display: none;
  }

  &:focus,
  &:active {
    box-shadow: none
  }
}

.content-wrapper {
  padding: 99px 20px 20px;
  max-width: 1220px;
  margin: 0 auto;
  position: relative;
  background-color: #fff;
  z-index: 1;

  .content-wrapper {
    margin-left: 0;
    padding: 0;
  }

  @include mq($bp--phablet) {
    padding-top: 110px;
  }

  @include mq($bp--nav-break) {
   padding: 50px;
   margin-left: $desktop-nav-width;

  }
  .topper-block-mod + & {

    padding:  20px;

    @include mq($bp--nav-break) {
     padding: 50px;
    }
  }
}

.topper-block-mod {
  padding-top: 79px;

  @include mq($bp--phablet) {
    padding-top: 84px;
  }

  @include mq($bp--nav-break) {
    padding-top: 0;
  }
}


.nav__trigger__icon {
  width: 100%;
  height: 3px;
  background: #000;
  display: block;
  position: relative;

  &:before,
  &:after {
    @include absolute(0);
    background: #000;
    content: '';
    display: block;
  }

  &:before {
    transform: translateY(-250%);
  }

  &:after {
    transform: translateY(250%);
  }

  .js-nav-active & {
    margin: 0 auto;
    width: 80%;
    background-color: transparent;
    &:before {
      transform: rotate(45deg);
    }

    &:after {
      transform: rotate(-45deg);
    }
  }
}


// hidden nav

.hidden-nav {
  @include fixed(0 100% 0 n);
  width: 100%;
  padding: 99px 20px 80px;
  overflow: scroll;
  background: #fff;
  // box-shadow: 0 0 20px rgba(0,0,0,.2);
  transition: all .3s $timing;
  z-index: 1;
  opacity: 0;
  pointer-events: none;
  // display: none;
  @include mq($bp--phablet) {
    padding-top: 110px;
  }

  .js-nav-active & {
    opacity: 1;
    transform: translate3d(100%, 0, 0);
    pointer-events: auto;
    display: block;
  }


  @include mq($bp--nav-break) {
    opacity: 1;
    pointer-events: auto;
    position: static;
    left: 0;
    display: block;
    padding-top: 25px;

    .js-nav-active & {
      transform: translate3d(0, 0, 0);
    }
  }
}

.nav__block__title {
  @include font($sans, 13px, 800, normal, .05em, caps);
  margin: 0 0 1px;
}

.nav__block__title-link {
  color: $clr-base;
  position: relative;

  &:after {
    display: block;
    content: '';
    @include absolute(0 n 0 100%);
    width: 10px;
    background-image: url('../img/icon--arrow-right.svg');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    opacity: 0;
    transition: all .2s;
  }

  &:hover {
    box-shadow: none;
    color: $clr-base;
    &:after {
      opacity: 1;
      transform: translateX(4px);
    }
  }
}

.nav__block {
  padding: 0 0 27px;
  @include font($serif, 17.3px);

  &:last-child {
    padding-bottom: 0;
  }
}

.nav__block__link {
  line-height: 1.3;
  margin-bottom: 3px;
}

.nav__footer {
  @include fixed(n 0 0 0);
  opacity: 0;
  pointer-events: none;
  transition: all .3s $timing;
  padding: 0 20px 12px;
  background: #fff;
  z-index: 1;
  transform: translate3d(-100%, 0, 0);
  // display: none;
  .js-nav-active & {
    opacity: 1;
    pointer-events: auto;
    display: block;
    transform: translate3d(0, 0, 0);
  }

  @include mq($bp--nav-break) {
    opacity: 1;
    pointer-events: auto;
    transform: translate3d(0, 0, 0);
    right: auto;
    width: ($desktop-nav-width - 1);
  }
}

.nav__footer__width {
  display: block;
  position: relative;
  border-top: $border;
  padding: 5px 0;
  overflow: hidden;
}

$social-icons: twitter, instagram, email, search;
.nav__footer__icon {
  float: left;
  margin-right: 13px;

  @each $item in $social-icons {
    &.nav__footer__icon--#{$item} .nav__footer__link {
      background-image: url('../img/icon--#{$item}.svg');
    }
  }
}

.nav__footer__icon--twitter {
  margin-right: 12px;
}

.primary-search {
  @include absolute(0 0 0 n);
  @include size(40px);
  transition: all .3s $timing;
  &:hover .submit--search {
    transform: scale(1.1);
  }
  .js-search-is-active & {
    width: 100%;
    &:hover .submit--search {
      transform: scale(1);
    }
  }
}

.primary-search-input {
  @include absolute(-1px 0 0 0);
  transition: all .3s $timing;
  padding: 0 50px 0 10px;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 0;
  height: 40px;
  &:hover,
  .js-search-is-active & {
    cursor: text;
    border: 1px solid;
    border-top: 0;
  }
}

.submit--search {
  // opacity: 0;
  pointer-events: none;
  @include absolute(0 0 0 n);
  height: auto;
  background: transparent;
  width: 40px;
  transition: all .2s;

  &:hover {
    box-shadow: none;
    transform: scale(1.1);
  }

  .js-search-is-active & {
    pointer-events: auto;
    opacity: 1;
  }
}

.submit--search {
  background-image: url('../img/icon--search.svg');
  display: block;
  background-size: 23px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.nav__footer__link {
  @include size(30px);
  display: block;
  background-size: 25px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  transition: all .2s;

  &:hover {
    box-shadow: none;
    transform: scale(1.1);
  }
}

.nav__footer__icon--search {
  float: right;
  margin-right: 0;
}

.nav #sb_instagram {
  display: none;
}
