.page-content {
  max-width: 1220px;
  margin: 0 auto;
}

.page-h1 {

  @include font($sans, 40px, 800);
  line-height: 1.05;
  @include mq($bp--phablet) {
    @include font($size: 55px);
    margin-left: -3px;
  }
  @include mq($bp--tablet) {
    @include font($size: 72px);
  }
  @include mq($bp--desktop) {
    @include font($sans, 95px, 800);
  }
}
