

.default-repeater {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}

.default-repeater__item {
  padding: 0;
  border-bottom: $border;

  &:last-of-type {
    border-bottom: 0;
  }
}

.default-repeater__title {
  cursor: pointer;
  line-height: 1.2;
  margin-bottom: 0;
  padding: 20px 60px 20px 0px;
  transition: all .3s $timing;
  position: relative;
  @include font($sans, 16px, 800);

  @include mq($bp--phablet) {
    @include font($size: 18px);
  }

  @include mq($bp--tablet) {
    .default-repeater__item:not(.js-repeater-is-open) &:hover {
      background-color: $clr-base;
      color: $clr-white;
      padding: 20px 50px 20px 10px;

      &:after {
        opacity: 0;
      }
    }
  }

  &:before,
  &:after {
    content: '';
    display: block;
    @include absolute(0 0 n n);
    height: 63px;
    width: 50px;
    // background-color: red;
    background-repeat: no-repeat;
    background-size: 12px;
    background-position: 50% 50%;
    transition: all .3s ease;
    .js-repeater-is-open & {
      transform: rotate(135deg);
    }
  }
  &:after {
    background-image: url('../img/icon--plus.svg');
  }
  &:before {
    background-image: url('../img/icon--plus--white.svg');
  }
  .js-repeater-is-open &:hover {
    &:before,
    &:after {
      transform: rotate(135deg) scale(1.2);
    }
  }

  &.default-repeater__title--link {

    &:after {
      background-image: url('../img/icon--arrow-right.svg');
      background-size: 14px;
    }
    &:before {
      background-size: 14px;
      background-image: url('../img/icon--arrow-right--white.svg');
    }
    .js-repeater-is-open &:hover {
      &:before,
      &:after {
        transform: scale(1.2);
      }
    }
  }

}

.default-repeater__content-mod {
  display: none;

  .js-repeater-is-open & {
    display: block;
  }
}

.default-repeater__content {
  // wordpress styles
  @extend %post-styles;
}

.article-body {
  overflow: hidden;
  @extend %post-styles;

  > a {
    display: block;
    line-height: 0;
    margin-bottom: 10px;

    img {
      width: 100%;
      max-width: none;
    }

    @include mq($bp--phablet) {
      margin-left: 20px;
      float: right;
      width: 50%;
      // max-width: 410px;
    }
  }

}


.default-repeater__video-mod {
  position: relative;
  // margin-bottom: 10px;

  iframe {
    @include absolute(0);
    width: 100%;
    height: 100%;
  }

  &:after {
    content: '';
    display: block;
    width: 100%;
    padding-top: 56.25%;
  }
}
