.search-topper {
  background: $clr-base;
  padding: 50px;

  @include mq($bp--nav-break) {
    margin-left: $desktop-nav-width;
  }
}

.search-topper__form {
  max-width: 900px;
  width: 100%;
  position: relative;
  font-size: 60px;
}

.search-topper__input {
  border: 0;
  border-bottom: 2px solid #fff;
  background: transparent;
  color: #fff;
  display: block;
  width: 100%;
  padding-right: 20px;
}

.search-topper__submit {
  @include absolute(0 0 2px n);
}
