.search-topper {
  padding: 20px;

  @include mq($bp--nav-break) {
    margin-left: $desktop-nav-width;
    padding: 50px 50px 0;
  }
}

.search-topper__form {
  max-width: 740px;
  width: 100%;
  position: relative;
  font-size: 60px;
  @include font($sans, 28px);
  @include mq($bp--phablet) {
    @include font($size: 34px);
  }
  @include mq($bp--tablet) {
    @include font($size: 42px);
  }
  @include mq($bp--desktop) {
    @include font($sans, 55px);
  }
}

.search-topper__input {
  border: 0;
  border-bottom: 2px solid $clr-base;
  background: transparent;
  color: $clr-base;
  display: block;
  width: 100%;
  padding: 0 20px 5px 0;
  border-radius: 0;
}

.search-topper__submit {
  @include absolute(0 0 2px n);
  width: 50px;
  padding: 0;
  background-color: transparent;
  background-image: url('../img/icon--search.svg');
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  transition: all .2s ease;
  border-radius: 2px;
  @include mq($bp--nav-break) {
    width: 80px;
  }
  &:hover {
    background-color: $clr-spot;
    background-image: url('../img/icon--search--white.svg');
  }
}

.search-topper__submit__text {
  @include hide;
}
