.tease {
  display: flex;
  // max-width: 900px;
  max-width: 740px;
  margin: 0 auto;
  @include mq($bp--desktop) {
    margin-bottom: 20px;
    margin-left: 0;
  }
}

.tease--no-image + .tease--image,
.tease--search:not(:first-child),
.tease--no-image:not(:first-child) {
  border-top: 1px solid $clr-base;
  padding-top: 30px;
  @include mq($bp--phablet) {
    padding-top: 40px;
  }
  // @include mq($bp--desktop) {
  //   padding-top: 55px;
  // }
}


.tease__inner {
  padding: 0 0 30px;
  width: 100%;
  overflow: hidden;
  @include mq($bp--phablet) {
    // padding-bottom: 40px;
  }
}

.tease__hgroup {

  // @include mq($bp--desktop) {
  //   width: 55%;
  //   float: right;
  //   padding-left: 20px;
  // }
}

.tease__overline {
  @include font($sans, 13px, 800, normal, .05em, caps);
  margin-bottom: 6px;
  display: inline-block;

  &:hover {
    box-shadow: none;
    color: $clr-base;
  }
}

.tease__hed {
  @include font($sans, 21px, 800);
  margin-bottom: 8px;
  max-width: 650px;

  > a {
    color: $clr-base;
  }

  @include mq($bp--desktop) {
    @include font($size: 27px);
  }
}

.tease__dek {
  @include font($serif, 16px);
  line-height: 1.35;
  max-width: 650px;
  @include mq($bp--desktop) {
    @include font($size: 18px);
  }
}

.tease__grid {
  // @include mq($bp--phablet) {
  //   @include grid(2, 20px);
  //   display: flex;
  //   flex-wrap: wrap;
  // }

  // @include mq($bp--desktop) {
  //   @include grid(3, 50px);
  // }
}


.tease__img-mod {
  position: relative;
  display: block;
  background-size: cover;
  background-position: 50% 50%;
  margin-bottom: 15px;
  overflow: hidden;
  box-shadow: 0 0 0 1px black inset;
  transition: all .2s $timing;

  // @include mq($bp--desktop) {
  //   width: 45%;
  //   float: left;
  // }

  &:hover {
    box-shadow: 0 0 0 3px black inset;
  }

  &:before {
    @include absolute(0);
    display: block;
    pointer-events: none;
    content: '';
    opacity: 1;
    transition: all .3s $timing;
    // background-color: #000;
    background: radial-gradient(#444, #222);
  }

  &.tease__img-loaded:before {
    opacity: 0;
  }

  &:after {
    display: block;
    pointer-events: none;
    content: '';
    position: relative;
    width: 100%;
    padding-top: 68%;
  }
}

.tease__img {
  @include absolute(0 0 n);
  opacity: 0;
}


.tease__date {
  text-transform: uppercase;
  letter-spacing: 0.2px;
  font-weight: 700;
  font-size: 0.75em;
  font-family: $sans;
}

.tease__archive-header {
  @include font($sans, 14px, 700, normal, .6px, caps);
  margin-bottom: 6px;
}


.tease--search {
  margin-bottom: 10px;

  .tease__img-mod {
    width: 25%;
    float: left;
    margin: 2px 10px 0 0;

    // display: none;
    @include mq($bp--phablet) {
      margin-right: 20px;
      @include font($size: 27px);
    }
  }

  .tease__hed {

    @include font($size: 18px);

    @include mq($bp--desktop) {
      @include font($size: 22px);
      margin-bottom: 8px;
    }
  }

  .tease__hgroup {
    overflow: hidden;
  }
  // .tease--page + & {
  //   border-top: 0;
  // }

  &.tease--page {

    .tease__inner {
      // padding-bottom: 0;
      // margin-bottom: 0;
      &:hover {
        box-shadow: none;
        .tease__hgroup {
          background-color: #f0f0f0;
        }
      }
    }
    .tease__hgroup {
      display: block;
      border-radius: 3px;
      padding: 20px;
      transition: all .2s $timing;
      background-color: #f9f9f9;
        color: $clr-base;
    }
    // .tease__hed {
    //   color: #fff;
    // }
    // .tease__dek a {
    //   color: #fff;
    // }
  }
}
