{{#each locations}}
  <li class="location-item locations-mod--0 js-has-data">
    <h3 class="location__title">
      <span class="location__title__name">CloverBLV (Brookline)</span>
      <span class="location__title__distance">0.2mi</span>
    </h3>
    <h4 class="location__status">Closed</h4>
    <a class="location__twitter" href="https://twitter.com/cloverBLV" target="_blank">@cloverBLV</a>
    <a class="location__address" href="http://maps.google.com/?q=6 Harvard St. Brookline, MA 02445">6 Harvard St. Brookline, MA 02445</a>
    <dl class="location__hours">
      <dt>Hours</dt>
      <dd class="location__hours__day"></dd>
    </dl>
  </li>
{{/each}}
