@mixin font($family: false, $size: false, $weight: false, $style: false, $ls: false, $caps: false) {

  @if ($family) {
    font-family: $family;
  }

  @if ($size) {
    font-size: $size;
  }

  // @if ($size and $size > 20px) {
  //   letter-spacing: 0.03em;
  // }
  @if ($weight) {
    font-weight: $weight;
  }

  @if ($style) {
    font-style: $style;
  }

  @if ($ls) {
    letter-spacing: $ls;
  }

  @if $caps == caps {
    text-transform: uppercase;
  }

  // @if ($family == $sans && $ls == false) {
  //   letter-spacing: -.02em;
  // }
}
