// colors
// -------

// Gray
$clr-gray-0:               #000000;
$clr-gray-1:               #111111;
$clr-gray-2:               #222222;
$clr-gray-3:               #333333;
$clr-gray-4:               #444444;
$clr-gray-5:               #555555;
$clr-gray-6:               #666666;
$clr-gray-7:               #777777;
$clr-gray-8:               #888888;
$clr-gray-9:               #999999;
$clr-gray-a:               #aaaaaa;
$clr-gray-b:               #bbbbbb;
$clr-gray-c:               #cccccc;
$clr-gray-d:               #dddddd;
$clr-gray-e:               #eeeeee;
$clr-gray-f0:              #f0f0f0;
$clr-gray-f5:              #f5f5f5;
$clr-gray-f7:              #f7f7f7;
$clr-gray-f9:              #f9f9f9;
$clr-gray-f:               #ffffff;

$gray--dark:               $clr-gray-4;
$gray--med:                $clr-gray-6;
$gray--light:              $clr-gray-d;
$clr-black:                $clr-gray-0;
$clr-white:                $clr-gray-f;
$white--semi-trans:        rgba($clr-white, 0.9);

// RAINBOWS

$clr-purple:               #646efc;
$clr-purple--dark:         #555668;
$clr-purple--light:        #B2B7FE;
$clr-magenta--light:		   #dc9ffc;
$clr-yellow:               #F5F24F;
$clr-background:           $clr-white;
$clr-background-darken:    #E5E8F0;


// Gold
$clr-gold:                 #eab78f;
$clr-gold-light:           #FFD2AE;
$clr-gold-dark:            #bc8151;


// Applications
$clr-base:                 $clr-black;
$clr-base-tint-5:          rgba( $clr-base, 0.05 );
$clr-base-tint-10:         rgba( $clr-base, 0.1 );
$clr-body-bg:              $clr-background;
$clr-wrapper-bg:           $clr-background;
$clr-gallery-bg:           $clr-base-tint-5;
$clr-footer-bg:            $clr-base;
$clr-inverted:             $clr-wrapper-bg;
$clr-inverted-tint-10:     rgba( $clr-inverted, 0.1 );
$clr-link:                 $clr-base;
$clr-text:                 $clr-base;
$clr-link-active:          $clr-link;
$clr-link-hover:           $clr-link;
$clr-border:               $clr-base;
$clr-heading:              $clr-base;
$clr-heading-small:        $clr-base;
$clr-code:                 $clr-base;
$clr-code-bg:              rgba( $clr-base, 0.1 );
$clr-table-border:         $clr-border;
$clr-table-head:           $clr-base;
$clr-table-head-bg:        rgba( $clr-base, 0.1 );
$clr-table-caption:        $clr-base;
$clr-table-th-border:      $clr-border;
$clr-table-td-border:      $clr-border;
$clr-table-stripes:        rgba( $clr-base, 0.1 );
$clr-input-focusBorder:    $clr-border;
$clr-button-bg:            transparent;
$clr-button-text:          $clr-base;
$clr-button-primary-bg:    $clr-base;
$clr-button-primary-text:  $clr-white;
$clr-placeholder-text:     rgba( $clr-base, 0.4 );
$clr-highlight-tag:        rgba( $clr-base, 0.1 );
$clr-footer-arrow:         darken( $clr-base, 15% );


// Typography & Vertical Whitespace
// -------

// Font Size
$font-size-base:             18px;
$font-size-micro:            12px;
$font-size-h6:               18px;
$font-size-h5:               18px;
$font-size-h4:               18px;
$font-size-h4-plus:          21px;
$font-size-h3:               24px;
$font-size-h2:               30px;
$font-size-h1:               36px;
$font-size-jumbo:            48px;
$font-size-mono:             14px;

// applications
$font-size-table-caption:    $font-size-h5;
$font-size-form:             $font-size-h5;
$font-size-legend:           $font-size-h3;
$font-size-button:           $font-size-h6;
$font-size-monospace:        14px;

// Line Height
$line-height-base:           1.55;
$line-height-micro:          1.3;
$line-height-h6:             $line-height-base;
$line-height-h5:             $line-height-base;
$line-height-h4:             $line-height-base;
$line-height-h3:             1.3;
$line-height-h2:             1.15;
$line-height-h1:             1.15;
$line-height-jumbo:          1.1;
$line-height-mono:           1.2;

// Margin & Padding
$font-margin-base:           0 0 25px 0;
$font-margin-h6:             $font-margin-base;
$font-margin-h5:             $font-margin-base;
$font-margin-h4:             $font-margin-base;
$font-margin-h3:             $font-margin-base;
$font-margin-h2:             $font-margin-base;
$font-margin-h1:             0 0 27px 0;
// applications
$font-margin-blockquote:     1em 40px;
$font-margin-hgroup:         $font-margin-base;
$font-margin-list:           $font-margin-base;
$font-padding-list:          0 0 0 40px;
$font-margin-dd:             0 0 0 40px;
$font-padding-code:          0.2em 0.4em;
$font-margin-code:           30px 0;


// Font Family
$font-family-sans-serif:     'Work Sans', sans-serif;
$font-family-sans:           $font-family-sans-serif;
$sans:                       $font-family-sans-serif;
$font-family-serif:          'Playfair Display', serif;
$serif:                      $font-family-serif;

$font-family-monospace:      'Source Code Pro', monospace;

$font-family-sans:           $font-family-sans-serif;
// applications
$font-family-base:           $font-family-sans;
$font-family-heading:        $font-family-sans;
$font-family-branding:       $font-family-sans;


// Font Weights
$font-weight--light:         300;
$font-weight--reg:           400;
$font-weight--bold:          600;
$font-weight--black:         700;

// tables
// -------

$table-border:               1px solid $clr-table-border;
$table-margin:               35px 0;
$table-padding:              0.5em 1em;
$table-caption-padding:      0 0 10px;

// forms
// -------

$form-margin:                0;
$form-legend-border:         1px solid #e5e5e5;
$form-legend-borderWidth:    0 0 1px 0;
$form-legend-margin:         0 0 20px;
$form-legend-padding:        0 0 4px;
$form-fieldset-border:       0;
$form-fieldset-margin:       30px 0;
$form-fieldset-padding:      0;
$form-label-margin:          0.5em 0 0.2em;
$form-row-margin:            0 0 10px;
$form-input-margin:          0.25em 0;
$form-input-padding:         0.5em 0.6em;
$form-input-border:          1px solid #ccc;
$form-input-shadow:          inset 0 1px 3px #eee;
$form-input-borderRadius:    0;
$form-input-focusShadow:     0 0 4px 0 rgba(18 ,159 ,234 ,0.2);

// Layout
// -------

$width-desktop:              980px;
$width-content:              720px;
$width-sidebar:              300px;

// Margins

$spacing-xs:                 10px;
$spacing-sm:                 15px;
$spacing-md:                 20px;
$spacing-lg:                 30px;
$spacing-xl:                 60px;
$spacing-xxl:                90px;
$margin-row:                 -$spacing-lg;


// Breakpoints
// -------


// Generic
$bp--mobile:                  300px;
$bp--phablet:                 400px;
$bp--tablet:                  600px;
$bp--tablet-xl:               768px;
$bp--desktop:                 1070px;
$bp--desktop-xl:              1200px;
$bp--desktop-xxl:             1500px;

// Application Specific
$bp--show-sidebar:            800px;


// z-index
// -------

$zIndex-0:                   1;
$zIndex-1:                   100;
$zIndex-2:                   200;
$zIndex-3:                   300;
$zIndex-4:                   400;
$zIndex-5:                   500;
$zIndex-6:                   600;
$zIndex-7:                   700;
$zIndex-8:                   800;
$zIndex-9:                   900;
$zIndex-10:                  1000;

$zIndex-user-avatar:     $zIndex-7;
$zIndex-nav:             $zIndex-10;
$zIndex-footer:          -2;
$zIndex-footer-shadow:   -1;

// Timing
// -------

$timing:                     cubic-bezier(0.645,0.045,0.355,1);
$timing-butter:              cubic-bezier(0.215, 0.61, 0.355, 1);





/* Borders
---------------------------------------------------------------------------*/

$border-radius: 3px;
//box-shadow border trick
$clr-purple-border: 0 0 0 3px hsl(236, 96%, 69%);

/* Transitions
---------------------------------------------------------------------------*/

$transition: all .2s $timing;
$transition-fast: all .1s $timing;

/* Button Styles
---------------------------------------------------------------------------*/

$button-shadow: 2px 2px 3px 0 rgba(0,0,0,0.18);
$button-shadow-hover: 3px 3px 5px 0 rgba(0,0,0,0.18);
$content-width: 90%;

/* Fonts
---------------------------------------------------------------------------*/

