<nav class="hidden-nav" role="navigation">
  <ul class="nav-width">
    <li class="nav__block">
      <h5 class="nav__block__title"><a class="nav__block__title-link" href="/about">About Clover</a></h5>
      <p class="nav__block__link"><a href="/about">A letter from our CEO, Ayr.</a></p>
    </li>
    <li class="nav__block">
      <h5 class="nav__block__title"><a class="nav__block__title-link" href="/locations">Locations and Hours</a></h5>
      <p class="nav__block__link"><a href="/locations">See what’s on the menu for each of our locations <b class="nav__block__date">{{now|date('F j, Y')}}</b></a></p>
    </li>

    {% for event in events|slice(0, 1) %}
      {% if event %}
        <li class="nav__block">
          <h5 class="nav__block__title"><a class="nav__block__title-link" href="/events">Events</a></h5>
          <p class="nav__block__link"><a href="{{event.link}}">Join us for <b>{{event.post_title}}</b> tomorrow at 3:30</a></p>
        </li>
      {% endif %}
    {% endfor %}

    <li class="nav__block">
      <h5 class="nav__block__title"><a class="nav__block__title-link" href="/careers">Careers at Clover</a></h5>
      <ul class="nav__block__list">

        {% for item in latest_employee %}
          <li class="nav__block__link">{{item.post_title}}</li>
        {% endfor %}

        <li class="nav__block__link"><a href="/careers">Join the team</a></li>
        <li class="nav__block__link"><a href="/careers/training">Employee Training</a></li>
      </ul>
    </li>

    <li class="nav__block">
      <h5 class="nav__block__title">More</h5>
      <ul class="nav__block__list">
        <li class="nav__block__link">
          <a href="/food">Food</a>
        </li>
        <li class="nav__block__link">
          <a href="/careers/training">Training</a>
        </li>
        <li class="nav__block__link">
          <a href="/catering">Catering</a>
        </li>
        <li class="nav__block__link">
          <a href="/csa">CSA</a>
        </li>
      </ul>
    </li>

  </ul>

</nav><!-- #nav -->
