<nav class="hidden-nav" role="navigation">
  <ul class="nav-width">
    <li class="nav__block">
      <h5 class="nav__block__title"><a class="nav__block__title-link" href="/locations">Locations and Hours</a></h5>
      <p class="nav__block__link"><a href="/locations">See what’s on the menu for each of our locations <b class="nav__block__date">{{now|date('F j Y')}}</b></a></p>
    </li>
    <li class="nav__block">
      <h5 class="nav__block__title"><a class="nav__block__title-link" href="/events">Events</a></h5>
      <p class="nav__block__link">Join us for our food development meeting tomorrow at 3:30</p>
    </li>

    <li class="nav__block">
      <h5 class="nav__block__title">Careers at Clover</h5>
      <ul class="nav__block__list">

        {% for item in latest_employee %}
          <li class="nav__block__link">{{item.post_title}}</li>
        {% endfor %}

        <li class="nav__block__link"><a href="/careers">Join the team</a></li>
        <li class="nav__block__link"><a href="/careers/training">Employee Training</a></li>
      </ul>
    </li>

    {% if nav_more.get_items %}
      <li class="nav__block">
        <h5 class="nav__block__title">More</h5>
        <ul class="nav__block__list">
          {% for item in nav_more.get_items %}
            <li class="nav__block__link">
              <a href="{{item.get_link}}">{{item.title}}</a>
            </li>
          {% endfor %}
        </ul>
      </li>
    {% endif %}

  </ul>

  <footer class="nav__footer">
    <ul class="nav__footer__width">
      <li class="nav__footer__icon nav__footer__icon--twitter">
        <a href="https://twitter.com/cloverfoodlab" class="nav__footer__link" target="_blank"></a>
      </li>
      <li class="nav__footer__icon nav__footer__icon--instagram">
        <a href="https://www.instagram.com/cloverfoodlab_boston/" class="nav__footer__link" target="_blank"></a>
      </li>
      <li class="nav__footer__icon nav__footer__icon--email">
        <a href="http://feeds.specificfeeds.com/cloverfoodlab" class="nav__footer__link" target="_blank"></a>
      </li>
      <li class="nav__footer__icon nav__footer__icon--search">
        <form action="/" class="primary-search" method="get">
          <input class="primary-search-input" id="primary-search-input" placeholder="Search" name="s">
          <button class="submit submit--search" type="submit"></button>
        </form>
      </li>
    </ul>
  </footer>




</nav><!-- #nav -->
