{% extends "base.twig" %}

{% block head %}
  <script type="text/javascript">
    var apiResponse= {{apiResponse}};
  </script>
  <script src="http://maps.google.com/maps/api/js?key=AIzaSyALZaQqg4ZNCJr2tLiicJJr4iUtUoz9A_s&?sensor=false"
            type="text/javascript"></script>
{% endblock %}

{% block topper %}
  <div class="location-topper">
    <div class="location-topper__hgroup">
      <h3 class="location-topper__title"></h3>
      <p class="location-topper__about">[placeholder: waiting for api field] Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit quaerat nemo repellat facere distinctio, dolor, omnis dolorum maiores sed.</p>
      <div class="location-topper__meta">
        <a class="location-topper__twitter" target="_blank" href=""></a>
        <span class="location-topper__status"></span>
      </div>
    </div>
  </div>
  <div class="map-container map-container--single" id="map"></div>
  <div class="locations-form__mod">
    <a href="" class="location-address"></a>
  </div>
{% endblock %}


{% block content %}
<ul class="default-repeater default-repeater--locations">
    <li class="default-repeater__item default-repeater__item--menu--hours">
      <h4 class="default-repeater__title">Hours</h4>
      <div class="default-repeater__content">
        <ul class="hours__list">
          <li class="hours__item">
            <h5 class="hours__day">Weekdays</h5>
            <h5 class="hours__hours">7am&ndash;11pm</h5>
          </li>
          <li class="hours__item">
            <h5 class="hours__day">Saturdays</h5>
            <h5 class="hours__hours">8am&ndash;11pm</h5>
          </li>
          <li class="hours__item">
            <h5 class="hours__day">Weekdays</h5>
            <h5 class="hours__hours">8am&ndash;8pm</h5>
          </li>
        </ul>
      </div>
    </li>
    <li class="default-repeater__item default-repeater__item--menu">
      <h4 class="default-repeater__title">Today&rsquo;s Menu</h4>
      <div class="default-repeater__content">
      </div>
    </li>
    <li class="default-repeater__item default-repeater__item--menu-more">
      <a class="default-repeater__title default-repeater__title--link" href="/locations">All Locations</a>
    </li>
</ul>

{% endblock %}

{% block scripts %}
    <script src="{{site.theme.link}}/bower_components/moment/min/moment.min.js"></script>
    <script src="{{site.theme.link}}/static/js/clover-api.js"></script>
{% endblock %}
