{% extends "base.twig" %}

{% block head %}
  <script type="text/javascript">
    var apiResponse= {{apiResponse}};
  </script>
  <script src="https://maps.googleapis.com/maps/api/js?libraries=geometry&key=AIzaSyALZaQqg4ZNCJr2tLiicJJr4iUtUoz9A_s&?sensor=false" type="text/javascript"></script>
{% endblock %}

{% block topper %}
  <div class="topper-block-mod">
    <div class="map-container map-container--index" id="map"></div>
    <div class="locations-form__mod">
      <form action="">
        <div class="location-form__select-mod">
          <label for="filter">Showing</label>
          <select name="" id="filter">
            <option value="all">All Locations</option>
            <option value="truck">Trucks</option>
            <option value="restaurants">Restaurants</option>
            <option value="status">Just what&rsquo;s open</option>
          </select>
        </div>
        <div class="location-form__select-mod">
          <label for="sort">Sort by</label>
          <select name="" id="sort">
            <option value="distance">Distance</option>
            <option value="name">Name</option>
          </select>
        </div>
      </form>
      <button class="map-close">Close</button>
    </div>
  </div>
{% endblock %}


{% block content %}
  <ul class="locations-mod">
  </ul>
  <div class="lcoation-footer">
    <div class="location-cta">
      <h5 class="location-cta__h">Uh oh, too far away?</h5>
      <p class="location-cta__text">Hopefully there is a Clover near you. If not, you can be a part of our expansion by suggesting great Clover locations. </p>
      <a class="location-cta__btn" href="https://cloverfoodlab.wufoo.com/forms/request-a-clover-location/">Suggest a new location!</a>
    </div>
  </div>
{% endblock %}

{% block scripts %}
    <script src="{{site.theme.link}}/static/js/clover-api.js"></script>
{% endblock %}
